body {
  background-color: white;
  color: #119787;
  font-family: Alnaseeb;
  left: 0;
  right: 0;
}

/* header style */
header {
  width: 1450px;
  margin-left: 50px;
}

#log {
  width: 100px;
  height: 100px;
  padding: 10px;
}

#logo {
  width: 150px;
  height: 110px;
  padding: 10px;
}

#text1 {
  font-weight: bold;
  padding-top: 20px;
}

#lin {
  color: #119787;
  font-family: Alnaseeb;
  margin-left: 790px;
  text-align: center;
}

.head {
  width: 1515px;
  margin-left: -50px;
  background-color: white;
  height: 110px;
  padding-left: 100px;
}

.line {
  display: inline-block;
}
.contain {
  width: 700px;
  height: 50px;
  color: white;
  background-color: #119787;
  border-radius: 25px;
  padding-left: 100px;
  margin-left: 330px;
  font-family: Alnaseeb;
}

#logIn {
  width: 150px;
  height: 40px;
  color: white;
  background-color: #119787;
  border-radius: 10px;
  font-size: 13pt;
  font-weight: bold;
  font-family: Alnaseeb;
}

.navnavbar-nav {
  list-style-type: none;
  padding: 10px;
  display: flex;
  gap: 50px;
}

.linkH {
  color: white;
  font-size: 13pt;
  font-weight: bold;
  font-family: Alnaseeb;
}

.imgL {
  width: 50px;
  height: 50px;
}

.containS {
  height: 500px;
  background-image: url("imageDesign/header5.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Alnaseeb;
}

/* introduction to media print style */

.intro {
  width: 900px;
  height: 350px;
  margin: 50px;
  text-align: center;
  background-color: #efeeee;
  border: 1px solid;
  box-shadow: 5px 10px #888888;
  margin-left: 220px;
  border-radius: 35px;
  font-family: Alnaseeb;
}

#plamp {
  color: black;
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  margin: 20px;
  margin-top: 100px;
  margin-right: 100px;
  font-family: Alnaseeb;
}

#imglamp {
  width: 250px;
  height: 300px;
  margin: 20px 0px;
  animation-name: light;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes light {
  to {
    opacity: 0.1;
    transform: translateY(30px);
  }
}

/*  style body */

.social {
  margin: 80px;
  margin-left: 175px;
  border: 1px solid;
  box-shadow: 5px 10px #888888;
  width: 1000px;
  height: 460px;
  transition: transform 0.2s;
}

.social:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

#imgsocial {
  width: 350px;
  height: 400px;
  margin: 30px;
}

.consocial {
  margin: 50px;
  margin-top: 70px;
  text-align: center;
  font-family: Alnaseeb;
}

#psocial {
  color: black;
  font-size: 13pt;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  font-family: Alnaseeb;
}

#hsocial {
  color: #119787;
  text-align: center;
  font-weight: bold;
  font-family: Alnaseeb;
}

#inpsocial {
  width: 180px;
  height: 50px;
  color: white;
  background-color: #119787;
  border-radius: 20px;
  font-weight: bold;
  font-size: 13pt;
  margin-top: 50px;
  transition: transform 0.2s;
  font-family: Alnaseeb;
}

#inpsocial:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

/* footer style */

.foot {
  background-image: url("../HomePage/imageHome/footer.png");
  color: white;
  height: 420px;
  text-align: center;
}

#linehr {
  padding-top: 20px;
  font-weight: bold;
  font-family: Alnaseeb;
}

#end {
  font-size: 15pt;
  font-family: Alnaseeb;
}

h3 {
  padding-top: 50px;
  font-weight: bold;
  font-size: 20pt;
  font-family: Alnaseeb;
}

#logo1 {
  width: 110px;
  height: 110px;
}

#text3 {
  font-weight: bold;
  font-family: Alnaseeb;
}

.alink {
  color: white;
  font-weight: bold;
  font-size: 15pt;
  font-family: Alnaseeb;
}

.alink:hover {
  color: white;
  text-decoration-line: none;
}

.text {
  color: white;
  font-weight: bold;
  font-size: 15pt;
  font-family: Alnaseeb;
}

.imgico {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
